<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>

<body>
     <div class="row">
          <div class="text-center pt-5 pb-5">
               <span class="mau_vang pe-3"><i class="fa fa-trophy fs-3"></i></span>
               <h2 class="d-inline-block">Sản phẩm từ Nhà</h2>
          </div>
          <!-- Nav tabs -->
          <ul class="nav tch-category-card-list tch-category-card-list--spacing d-flex justify-content-md-center flex-xl-wrap flex-lg-wrap"
               id="myTab" role="tablist">


               <li class="nav-item text-muted" role="presentation">
                    <a class="nav-link nav-link-category " id="a-tab" data-bs-toggle="tab" data-bs-target="#a"
                         role="tab" aria-controls="a" aria-selected="">
                         <div class="tch-category-card d-flex flex-column">
                              <div
                                   class="d-flex justify-content-center align-items-center tch-category-card__image tch-category-card--circle">
                                   <img class="rounded-circle" src="" alt="">
                              </div>
                              <div class="tch-category-card__content">
                                   <h5 class="tch-category-card__title text-center mb-0">

                                   </h5>
                              </div>
                         </div>
                    </a>
               </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content pt-5">
               <div class="tab-pane " id="a" role="tabpanel" aria-labelledby="a-tab">
                    <div class="row">

                         <div class="col-xl-2 mb-5">
                              <div class="card mb-3 shadow border-0 rounded-4">
                                   <a href="?action=product&act=product_detail&id=" title="">
                                        <img src="" class="card-img-top p-2 rounded-4" alt="...">
                                   </a>
                                   <div class="card-body">
                                        <a href="?action=product&act=product_detail&id=" title=""
                                             class="text-decoration-none text-black">
                                             <h6 class="card-subtitle mb-2 hover_vang" style="height: 48px;">

                                             </h6>
                                        </a>
                                        <span class="card-text text-muted">

                                        </span>
                                   </div>
                              </div>
                         </div>

                    </div>
               </div>

          </div>

     </div>
</body>

</html>